/**************************************
 *         1. Miscellaneous           *
 *         2. Sign Up Page            *
 *         3. Main Page               *
 **************************************/

/* 1. Miscellaneous */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: grid;
    grid-template-columns: auto;
    width: 50vw;
    justify-content: center;
}

/* 2. Sign Up Page */

.errors {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin-bottom: 2vh;
}

.signup_title {
    margin: 3vh;
    display: flex;
    justify-content: center;
}

button {
    color: white;
    background-color: #2ce98f;
    border-radius: 5px;
    border: none;
    width: 10vw;
    min-width: 59.8px;
    max-width: 94.09px;
    height: 4vh;
    min-height: 29.89px;
    max-height: 47.05px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

input {
    margin-bottom: 2vh;
    margin-top: 2vh;
    border: 2px solid #c1bbbb;
    border-radius: 5px;
    height: 5vh;
    width: 100%;
    text-align: center;
}

.signin_link {
    color: #005eff;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

/* 3. Main Page */

nav {
    width: 100%;
    height: 8vh;
    background-color: black;
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    position: absolute;
    justify-content: center;
    top: 12vh;
    width: 100%;
    z-index: 99;
}

.icon_1,
.icon_2,
.icon_3,
.icon_4,
.icon_5,
.icon_6,
.icon_7,
.icon_8 {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.taskTable {
    top: 6vh;
    width: 50%;
}

.taskRow {
    width: 2%;
}

.table {
    margin-top: 37vh;
    margin-bottom: 2vh;
    z-index: 1;
}

th,
td {
    width: 30%;
}

td {
    text-align: center;
}

.td1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn1,
.btn2 {
    position: absolute;
    top: 4px;
    display: flex;
    width: 85px;
    cursor: default;
    font-weight: normal;
}

.btn1 {
    right: 50%;
    margin-left: auto;
}

.btn2 {
    left: 50%;
    margin-right: auto;
}

#note_1,
#note_2,
#note_3,
#note_4,
#note_5,
#note_6,
#note_7,
#note_8 {
    margin-right: 2vw;
}

.taskRadio,
.noteRadio {
    display: flex;
    cursor: pointer;
    width: 15%;
    height: 18px;
    margin: 0;
    margin-right: 5px;
}

.noteRadio:checked,
.taskRadio:checked {
    background-color: #2196f3;
}

.noteRadio:after,
.taskRadio:after {
    top: 4px;
    left: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
}

.task {
    position: relative;
    margin-top: 5vh;
}

#task {
    position: relative;
}

.text,
.text_1,
.text_2,
.text_3,
.text_4,
.text_5,
.text_6,
.text_7,
.text_8 {
    width: 200.48px;
    height: 128.25px;
    text-align: left;
    padding: 15px;
    resize: none;
    border: 2px solid darkgrey;
    border-top: 25px solid lightgrey;
    margin-left: 0.38px;
    outline: none;
    margin-top: 0;
    border-radius: 10px;
    overflow: auto;
}

.text_1,
.text_2,
.text_3,
.text_4,
.text_5,
.text_6,
.text_7,
.text_8 {
    resize: both;
}

.task_submit {
    width: 100%;
    background-color: black;
}

.tasks_check1,
.tasks_check2,
.tasks_check3,
.tasks_check4,
.tasks_check5,
.tasks_check6,
.tasks_check7,
.tasks_check8 {
    background-color: lightgrey;
    display: flex;
    width: 20.12vw;
    height: 52.34px;
    padding: 0 5px;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.tasks1,
.tasks2,
.tasks3,
.tasks4,
.tasks5,
.tasks6,
.tasks7,
.tasks8 {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-weight: normal;
}

.incompleteGrid {
    width: 50%;
    justify-content: center;
}

.checkbox1,
.checkbox2,
.checkbox3,
.checkbox4,
.checkbox5,
.checkbox6,
.checkbox7,
.checkbox8 {
    width: 18.88px;
    height: 29.09px;
    cursor: pointer;
    margin: 11.64px 10px;
}

.delete {
    background-color: grey;
    position: absolute;
    top: 1.8vh;
    left: 4vw;
}

.instructions {
    background-color: grey;
    position: absolute;
    top: 1.8vh;
    right: 16vw;
}

.logoutbtn {
    background-color: grey;
    position: absolute;
    top: 1.8vh;
    right: 4vw;
}

/* 4. Login Page */

#pass {
    margin-bottom: 5vh;
}

/* 5.  signout page */
.html {
    background-color: #0675b7;
}

.image {
    height: 100vh;
    width: 100vw;
}

.logout {
    height: 75%;
    width: 100%;
    margin-top: 100px;
}

.signBackIn {
    background: black;
    border-radius: 5px;
    border: 4px solid black;
    width: 14vw;
    max-width: 99.53px;
    height: 5vh;
}

.btnText {
    color: white;
    display: grid;
    grid-template-columns: auto;
    height: 4vh;
    align-items: center;
}

.low_center {
    display: grid;
    grid-template-columns: auto;
}
