<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <section id="hireMe" data-aos="fade-zoom-in">
                <div class="contact-title">
                    <h1>Let's Work Together!</h1>
                    <h3>Request a free consultation</h3>
                </div>
                <div class="contact-form">
                    <form
                        action="/send"
                        id="contact-form"
                        method="post"
                    >
                        <p class="formName">First and Last Name:</p>

                        <input
                            type="text"
                            name="name"
                            class="form-control"
                            required
                        /><br />

                        <p class="formName">Email Address:</p>
                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            required
                        /><br />

                        <p class="formName">Email Subject:</p>
                        <input
                            type="text"
                            name="subject"
                            class="form-control"
                            required
                        /><br />

                        <p class="formName">Email Body:</p>
                        <textarea
                            name="message"
                            class="form-control_body"
                            rows="4"
                            required
                        ></textarea
                        ><br />
                        <p class="message">{{msg}}</p>

                        <input
                            type="submit"
                            class="form-control_submit"
                            value="SEND MESSAGE"
                        />
                    </form>
                </div>
            </section>
</body>
</html>
