<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <form class="login" method="post">
    <h1 class='signup_title'>
      Update Password
    </h1>
    <p>Email:</p>
    <input type="text" name="email">
    <p>Password:</p>
    <input id="pass" type="password" name="password">
    <div class="errors">
      <p>
        {{ Error }}
        {{ Error1 }}
      </p>
    </div>
    <button type="submit" name="button">Update</button>
  </form>
</body>
</html>
